.hero__section {
    padding: 46px 0 24px 24px;
}

.hero__container {
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    // max-width: 815px;
    padding: 30px;
    margin: 0 auto;

    padding: 30px;
    background: var(--grey-color);
    border-radius: 193px 0px 0px 193px;
}

// .hero__text-wraper {
// margin-left: 50%;
// }

.hero__fullname {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 117px;
    /* identical to box height */

    letter-spacing: -0.04em;

    color: #1E1E1E;
}

.user__pisition {
    font-weight: 500;
    font-size: 32px;

    // Непотрібне
    // font-family: 'Montserrat';
    // font-style: normal;
    // line-height: 39px;
    // color: #000000;
}